*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/***/
.header{
    .header__top{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px 0;
        background: #111131;
        gap:14px;
    }
    .as{
        color: #ABABFA;
text-align: center;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;

    } 
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 17px 2%;
        
    }
    .logo{
        display: flex;
        align-items: center;
        
        gap:25px;
    }
    a{
        color: #413E52;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 28.8px; /* 205.714% */
    }
    .header__btns{
        display: flex;
        align-items: center;
        gap:20px;
    }
    .sume{
        position: relative;
        top: 8px;
    }
    .fa-magnifying-glass{
        font-size: 22px;
    }
    .mybtn{
        border-radius: 4px;
background: #5C5CFF;
padding: 7.5px 15px; 
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 28.8px; /* 192% */
letter-spacing: 1.5px;
text-transform: uppercase;
    }
    #menu{
        display: none;
    }
    .bar{
        display: none;  
    }
    #menu:checked ~ nav .logo{
        top: 0;
    } 
    #menu:checked ~ nav .logo .label_menu{
        display: block;
        color:#fff
    }
    #menu:checked ~ .tr{
        position: fixed;
        z-index: 0;
        top:0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        
        
        
        }
        .label_menu{
            display: none;
        }

}

/*****/
.showcase{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 7%;
    gap:15px;
    &__text{
        grid-column: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:33px;
        border-left: 2px solid #5C5CFF;
        padding-left: 25px;

    }
    h3{
        color: #5C5CFF;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: 1.4px;
text-transform: uppercase;
    }
    h1{
        color: #413E52;
font-family: Inter;
font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: 62.4px; /* 148.571% */
letter-spacing: 1px;
max-width: 463px;
    }
    h5{
        color: #413E52;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: 1.4px;
text-transform: uppercase;
    }
    p{
        color: #868297;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 19.5px; /* 150% */
    }
    &__img{
       display: flex;
       justify-content: right;
    }
    img{
        max-width: 700px;
    }
}
.recent{
    margin-top: 100px;
    padding: 0 6.5%;
    &__article{
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        a{
            color: #413E52;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: 1.4px;
text-transform: uppercase;
        }
}
&__cards{
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    gap:15px;
}
&__img{
    position: relative;
    top: 3px;
}
&__text{
    background-color: #fff;
    border:1px solid gray;
    border-top: none;
    padding-left: 23px;
    padding-top: 23px;
    padding-bottom: 8.5px;
    display: flex;
    flex-direction: column;
    gap:14px;
    h2{
        color: #5C5CFF;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: 1.4px;
text-transform: uppercase;
    }
    p{
        color: #868297;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 19.5px; /* 150% */
    }
    a{
        color: #413E52;
font-family: Inter;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 157.895% */
max-width: 240px;
    }
}
}
.free{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px 7% 0;
    padding:     30px;

    border-radius: 8px;
background: #111131;
gap:35px;

&__text{
display: flex;
flex-direction: column;
gap:20px;
a{
    color: #5C5CFF;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: 18px; /* 138.462% */
letter-spacing: 1.4px;
text-transform: uppercase;
}
h1{
    color: #FFF;
font-family: Inter;
font-size: 31px;
font-style: normal;
font-weight: 400;
line-height: 50.4px; /* 162.581% */
letter-spacing: 1px;

}
}
&__btns{
    display: flex;
    flex-direction: column;
    align-items: center;
        justify-content: center;
        gap:15px;
        .email{
            border-radius: 4px;
border: 1px solid #8989F8;
background: #1B1B4D;
padding: 13px 200px;
color: #5C5CFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
        }
        .subscribe{
            color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
border-radius: 4px;
background: #5C5CFF;
padding: 13px 210px;
        }
}

}
.case{
    margin-top: 100px;
    padding: 0 7%;
    &__container{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    h5{
        color: #868297;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 19.5px; /* 150% */
    }
    h2{
        color: #413E52;
font-family: Inter;
font-size: 29px;
font-style: normal;
font-weight: 400;
line-height: 42px; /* 144.828% */
    }
    h3{
        color: #413E52;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
    }
    &__img{
        display: flex;
        flex-direction:column ;
        gap:20px;
        img{
            width: 90%;
        }
    }
    &__text{
        display: flex;
        flex-direction: column;
        gap:30px;
        justify-content: space-evenly;
       
    }
}
.tech{
    margin-top: 100px;
    padding: 0 7%;
    &__container{
        display: grid;
        gap:50px;
        grid-template-columns: repeat(3,1fr);
    }
    .t2{
        border-radius: 8px;
background: #111131;
        width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
        gap:25px;
    }
    .t1{
        display: flex;
        flex-direction: column;
        gap:30px;
        h2{
            color: #413E52;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
        }
        h5{
            color: #868297;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 19.5px; /* 150% */
        }
    }
    .email{
        padding: 13px 20%;
        border-radius: 4px;
border: 1px solid #8989F8;
background: #1B1B4D;
color: #5C5CFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
    }
    .fa-rocket{
        padding-top: 10px;
        color:#fff;
        font-size: 25px;
    }
    .subscribe{
        border-radius: 4px;
background: #5C5CFF;
padding: 13px 23%;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
    }
    h3{
        color: #5C5CFF;
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 18px; /* 128.571% */
letter-spacing: 1.4px;
text-transform: uppercase;
    }
    h5{
        color: #FFF;
text-align: center;
font-family: Inter;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 156.522% */
width: 260px;
    }
    .mobile{
        display: flex;
        justify-content: space-between; 
        a{
            color: #413E52;
font-family: Inter;
font-size: 13.5px;
font-style: normal;
font-weight: 400;
line-height: 28.8px; /* 205.714% */
        }
    }
}
.footer{
    margin-top: 100px;
    padding: 0 7%;
    background: #1B1B4D;
    width: 100%;    
    &__container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 70px;
    } 
    .f2{
        display: flex;
        flex-direction: column;
        gap:11px;
        a{
            color: #ABABFA;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: 1.4px;

        }

    }
    .f1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color:#fff;
    }
    .f4{
        h5{
            color: #FFF;
font-family: Inter;
font-size: 29px;
font-style: normal;
font-weight: 400;
line-height: 42px; /* 144.828% */
        }
        
    }
    .a1{
        display: flex;
        gap:10px;
        justify-content: center;

    }
}
@media (max-width:1050px){
    .showcase{
        grid-template-columns: 1fr;
        gap:22px;
        &__img{
            justify-content: center;
        }
      
    }
    .free{
        grid-template-columns: 1fr;
    }
    .case{
        h2{
            font-size: 20px;
        }
    }
    .tech{
       &__container{
        grid-template-columns: 1fr;
       }
       .t2{
        padding-bottom: 20px;
       }
    }
}
@media (max-width:760px){
    .header{
        .bar{
            display: block;
            display: flex;
            justify-content: center;
        }
      
        .logo a{
            color:#fff;
        }
        .logo{
            position: fixed;
                top: -100%;
                left: 0;
                width: 100%;
                background-color: #101828;
                flex-direction: column;
                align-items: center;
                padding: 20px;
                transition: 0.5s;
                gap:14px;
        }
    }
    .showcase{
        &__img{
            img{
                width: 500px;
            }
        }
    }
    .free{
        .email{
            padding: 13px 20%;
        }
        .subscribe{
            padding: 13px 23%;
        }
    }
    .case{
        &__container{
            grid-template-columns: 1fr;
        }
        h3{
            font-size: 17px;
        }
    }
}
@media (max-width:630px){
    .showcase{
        &__img{
            img{
                width: 400px;
            }
        }
        &__text h1{
            font-size: 31px;
        }
    }
}
@media (max-width:450px){
.header{
   .as{
    font-size: 9px;
   }
   .fa-magnifying-glass{
    font-size: 17.3px;
   }
   .mybtn{
    padding: 5px 10.5px;
    font-size: 12px;
   }
   
}
.showcase{
    &__img{
        img{
            width: 270px;
        }
    }
    &__text h1{
        font-size: 22px;
    }
    h3{
        font-size: 12px;
    }
    h5{
        font-size: 12px;
    }
}
.recent{
    &__img{
        img{
            width: 270px;
        }
    }
}
.free{
    &__text{
        h1{
            font-size: 20px;
            line-height: 28px;
        }
    }
    .email{
        font-size: 15.5px;
    }
    .subscribe{
        font-size: 15.5px;
    }
}
}